
@{
    ViewBag.Title = "LogOut";
    Layout = "~/Views/Shared/_WithoutLogOutView.cshtml";
}

<h2>LogOut</h2>
<br /><br />
<h4>Thank You For Using Apache Hospital Management System</h4>
<br /><br />
<h4>Have a Great Day.</h4>

<div>
    @Html.ActionLink("Log In Again", "Login", "Account", new {@class="btn btn-default"})
</div>

