@{
    Layout = "~/Views/Shared/_StaffView.cshtml";
}

@{
    ViewBag.Title = "Hospital Staff";
}

<h2>Welcome Staff</h2>

<br /><br />

      <p>          
          Apache Hospital is a place where the sick, injured and emergency case are taken for treatment. 
          The doctors and nurses are readily available there for admitting and attending on their 
          patients and nurses are very care fully. They are employed to nurse the sick back to heath.
      </p>


